/ *
Thème appartenant à et fabriqué par VaporousCreeper # 9514
  
Contexte Img: https//cdn.discordapp.com/attachments/604057362587844608/606630736966975510/20190802_013352_21.png 
Module Transparency2: https://raw.githack.com/Ruben7173/Ruben7173.github.io/master/BetterDiscord-Themes/Modules/transparency2.css - Par Ruben7173 # 5048
Les 2 objets ci-dessus ne m'appartiennent pas, ils vont à leurs propriétaires respectés
* /

: root {
    --background : url ( ' https//cdn.discordapp.com/attachments/604057362587844608/606630736966975510/20190802_013352_21.pngc ' );

    - transparence - 1 : gradient linéaire ( à  droite , rgba ( 0 , 0 , 0 , 0,55 ), rgba ( 0 , 0 , 0 , 0,55 ));
	- transparence - 2 : gradient linéaire ( à  droite , rgba ( 0 , 0 , 0 , 0,55 ), rgba ( 0 , 0 , 0 , 0,55 ));
	--transparency-3 : gradient linéaire ( à  droite , rgba ( 0 , 0 , 0 , 0,55 ), rgba ( 0 , 0 , 0 , 0,55 ));
	--transparence-4 : gradient linéaire ( à  droite , rgba ( 0 , 0 , 0 , 0,55 ), rgba ( 0 , 0 , 0 , 0,55 ));
    - transparence - 5 : gradient linéaire ( à  droite , rgba ( 0 , 0 , 0 , 0,55 ), rgba ( 0 , 0 , 0 , 0,55 ));
}


/ * Image de fond * /
# app-mount { image-fond : var ( --background ) ! important ; background-position : center ! important ; taille de l'arrière-plan : couverture ! important ; couleur de fond : transparent ! important ;}

/ * Accueil * /
.tabBar-1E2ExX  .primarySelected-3uHKZn { couleur : rouge ! important ;}
.topPill-30KHOu  .selected-3s45Ha { couleur de fond : rouge ! important ; couleur : blanc ! important ;}

.root-1BQpZw { background-image : var ( --transparency-1 ) ! important ; couleur de fond : transparent ! important ;}
.container-1r6BKw { background : transparent ! important ;}

.friendsActionRemove-qu8nnl { background-color : #ff0000 ! important ;}
.friendsActionVoiceCall-3EdPsR { couleur de fond : rgb ( 114 , 137 , 218 ) ! important ;}
.friendsActionVideoCall-2_PKeP { background-color : rgb ( 29 , 185 , 84 ) ! important ;}

.stickyHeader-1pqx0j , .headerBar-UHpsPw { couleur d'arrière-plan : transparent ! important ;}
.minimum-1pRSEN { background-color : rgba ( 0 , 0 , 0 , 0.2 ) ! important ;}
.iconsWrapper-1RelE3 { background-color : rgba ( 25 , 25 , 25 , 0.5 ) ! important ; border-color : transparent ! important ;}

.body-1BpgWG { background-color : transparent ! important ;}
.body-1BpgWG  .section-2VKIPC { background-color : rgba ( 100 , 100 , 100 , 0.3 ) ! important }

.popoutContainer-3WC9HR : survol , .popoutContainer-3WC9HR  .popout-3G62UL { couleur de fond : rgba ( 20 , 20 , 20 , 0.7 ) ! important }

.activityFeed-1C0EmJ { background-image : var ( --transparency-1 ) ! important ; couleur de fond : transparent ! important ;}
.container-35JN_A , .wrapper-3UweLa , .recentlyPlayedContainer-2F3MqS , .outer-2IVh5n { couleur de fond : rgba ( 100 , 100 , 100 , 0.3 ) ! important }

/ * Serveurs * /
.theme-dark  .acronym-2mOFsV { couleur de fond : rgba ( 100 , 100 , 100 , 0.2 );}
.wrapper-1BJsBx { background-color : transparent ! important }

.theme-dark  .acronym-2mOFsV : survol { couleur de fond : rgba ( 100 , 0 , 0 , 0.3 ) ! important ;}

.folder  .wrapper-1BJsBx { background-color : rgba ( 100 , 100 , 100 , 0.2 ) ! important ; transition : background-color .15 de  facilité sur ;}
.folder  .wrapper-1BJsBx : survol { couleur de fond : rgba ( 100 , 0 , 0 , 0.3 ) ! important ;}

.expandedFolderBackground-2sPsd- { background-color : rgba ( 100 , 100 , 100 , 0.2 ) ! important ;}
.expandedFolderBackground-2sPsd-.collapsed-1GMuSb { couleur d'arrière-plan : transparent ! important ; transition : background-color .15 de  facilité sur ;}
.folder-21wGz3 { background-color : transparent ! important ;}

.theme-dark  .acronym-2mOFsV.selected-bZ3Lue { couleur de fond : rgba ( 100 , 100 , 100 , 0.3 ) ! important }
.wrapper-1BJsBx.selected-wSa2KV { couleur d'arrière-plan : rgba ( 100 , 100 , 100 , 0.3 ) ! important }

.numberBadge-2s8kKX { background-color : red ! important }

.pill-31IEus  .item-2hkk8m { couleur de fond : rgba ( 100 , 100 , 100 , 0.7 )}

 # bd-pub-li  .wrapper-25eVIn { couleur de fond : rgba ( 100 , 100 , 100 , 0.3 )}

.circleIconButton-jET_ig { couleur de fond : rgba ( 100 , 100 , 100 , 0.3 ) ! important ; couleur : blanc ;}
.circleIconButton-jET_ig : survol { couleur de fond : rgba ( 100 , 0 , 0 , 0.3 ) ! important ;}

/ * Chaînes * /
.containerDefault-3GGEv_ { background-color : rgba ( 100 , 0 , 0 , 0,5 ); hauteur : 30 px ; text-align : center ; rayon de bordure : 10 px ; Rembourrage : 5 px  5 px  0  5 px ;}

.channels-Ie2l6A  div [ class * = " conteneur- " ] { padding-bottom : 14 px ;}
.container-3baos1 , .container-1giJp5 { background-image : var ( --transparency-1 ) ! important ; couleur de fond : rgba ( 0 , 0 , 0 , 0 ) ! important ; marge-bas : 0 ;}

	/ * Texte * /
	.content-3at_AU { margin : 0 ; largeur : 200 px ; transition : largeur 0,2 s ; fonction de transition de synchronisation : facilité d'entrée et de sortie ; couleur de fond : rgba ( 50 , 50 , 50 , 0.15 )}
	.content-3at_AU : survol { largeur : 100 % ; couleur de fond : rgba ( 50 , 50 , 50 , 0.3 ) ! important }
	.selected-37j_iU  .content-3at_AU { margin : 0 ; largeur : 100 % ; couleur de fond : rgba ( 50 , 50 , 50 , 0.6 ) ! important ;}
	.wrapper-2NJDcI { background-color : rgba ( 50 , 50 , 50 , 0.3 )}

	/ * Voice * /
	.containerDefault-1ZnADq  .modeConnected-2IEL4z  div .content-3at_AU { width : 100 % ; couleur de fond : rgba ( 50 , 50 , 50 , 0.6 ) ! important ;}
	.containerDefault-1ZnADq  .modeLocked-SZJhTy  div .content-3at_AU ,
	.containerDefault-1ZnADq  .modeMuted-3osy7j  div .content-3at_AU { background-color : rgba ( 100 , 0 , 0 , 0.2 ) ! important ;}

	.list-2bwCXU { padding-left : 10 px ; }

		/ * VC Info * /
		.container-1UB9sr { background-color : rgba ( 0 , 0 , 0 , 0.55 ) ! important ; bordure : 0 ;}
		.buttonDisconnect-3W_SJc { background-color : rgba ( 100 , 0 , 0 , 0.9 ) ! important ;}

		/ * Utilisateur VC * /
		.avatarSpeaking-3MqCHLt { box-shadow : 0  0  0  2 px  rouge ; }

		.voiceUser-14U_Ns { transition : marge 0,2 s ; fonction de transition de synchronisation : facilité d'entrée et de sortie ; marge gauche : 0 ; Rembourrage à droite : 5 px }
		.voiceUser-14U_Ns : survol { couleur d'arrière-plan : rgba ( 50 , 50 , 50 , 0,3 ) ! important ; rayon de bordure : 2 px ; marge gauche : 20 px ;}

		.voiceUser-14U_Ns  .content-3xS9Lh : survol { couleur de fond : transparent ! important ;}

/ * Messages * /
.h1-1IDj26 { couleur : rouge ! important ;}
.hasMore-3e72_v  button { background-color : rgba ( 50 , 50 , 50 , 0.5 ) ! important ; couleur : rouge ;}
.wrapperHover-1GktnT , .mention { couleur de fond : rgba ( 150 , 0 , 0 , 0,2 ) ! important ; couleur : rouge ! important ;}
.isMentionedCozy-3isp7y { background-color : rgba ( 150 , 0 , 0 , 0.3 ) ! important ;}
.isMentionedCozy-3isp7y : after { background : red ; bordure gauche : 4 px  rouge solide  ; largeur : 1 px ;}
code , pre { background-color : rgba ( 50 , 50 , 50 , 0.3 ) ! important }

.messageGroupBlocked-3wrQQX { background-color : rgba ( 50 , 50 , 50 , 0.5 ) ! important ;}
.messageGroupBlockedBtn-1PBBh- { background-color : transparent ! important ; couleur : rouge ! important ;}

.noticeRegion-1YviSH { margin : auto ;}
.lookLink-9FtZy- , .anchor-3Z-8Bb , .bda-link { color : red ! important ;}
.embedProviderLink-2Pq1Uw { color : rgb ( 150 , 150 , 150 ) ! important ;}

.unreadMentionsBar-1VrBNe { background-color : red ;}
.selected-ML3OIq : avant { background-color : rgb ( 100 , 100 , 100 ) ! important ; border-radius : 0 ! important ;}
.unread-qLkInr : before { background-color : rgb ( 150 , 0 , 0 ) ! important ; border-radius : 0 ! important ;}

.channelTextArea-1LDbYG  .inner-zqa7da , .autocomplete-1vrmpx , .attachPopout-1n-ZKM { couleur d'arrière-plan : rgba ( 50 , 50 , 50 , 0.5 ) ! important ;}

.newMessagesBar-mujexs { background-color : red }
.newMessagesBar-mujexs : survol { couleur de fond : rgb ( 255 , 50 , 50 )}
.newMessagesBar-mujexs : active { background-color : rgb ( 255 , 100 , 100 )}


/ * Barres de défilement * /
:: - webkit-scrollbar-thumb { background-color : rgba ( 150 , 0 , 0 , 0.6 ) ! important ; border-color : transparent ! important ;}
.messagesWrapper-3lZDfY  :: - webkit-scrollbar -track-piece , .friendsTable-133bsv  :: - webkit-scrollbar -track-piece , .gameLibrary-TTDw4Y  :: - webkit-scrollbar -track-piece { background-color : transparent ! important ; border-color : transparent ! important ;}
.messagesWrapper-3lZDfY  :: - webkit-scrollbar -track , .friendsTable-133bsv  :: - webkit-scrollbar -track , .gameLibrary-TTDw4Y  :: - webkit-scrollbar -track { background-color : rgba ( 150 , 0 , 0 , 0.4 ) ! Important ; rayon de bordure : 10 px ; border-color : rgba ( 150 , 0 , 0 , 0.4 ) ! important }

.applicationStore-1pNvnv  :: - webkit-scrollbar -track , .activityFeed-28jde9  :: - webkit-scrollbar -track { couleur d'arrière-plan : transparent ! important ;}

/ * Menu contextuel * /
.menu-Sp6bN1 , .contextMenu-HLZMGh { couleur de fond : rgba ( 10 , 10 , 10 , 0.6 ) ! important }
.item-1GzJrl : survol , .item-1Yvehc : survol { couleur de fond : rgba ( 30 , 30 , 30 , 0.7 ) ! important }
.separator-2zcjq8 { background-color : rgb ( 100 , 0 , 0 )}
.danger-2dXSTE : survol { couleur d'arrière-plan : rgba ( 100 , 0 , 0 , 0.6 ) ! important }
entrée [ type = case à cocher ] : cochée + étendue , .checkbox-1ix_J3 { border-color : red ! important ; couleur de fond : rouge ! important }

/ * Menu du serveur * /
.leave-1DRJfn : survol { couleur d'arrière-plan : rgba ( 100 , 0 , 0 , 0.5 ) ! important ;}
.invite-271nFU : survol { couleur d'arrière-plan : rgba ( 114 , 137 , 218 , 0.5 ) ! important ;}

/ * Membres du serveur * /
.membersGroup-v9BXpm { background-color : rgba ( 0 , 0 , 0 , 0.5 ); marge : 20 px  8 px  0  16 px ; rembourrage : 0 ; hauteur : 20 px ; text-align : center ; rayon de bordure : 10 px ; couleur : rouge ! important ;}
.member-3W1lQa , .channel-2QD9_O  a { margin-left : 0 px ; border-radius : 50 px  0  0  50 px ! important ; transition : marge 0,2 s ; transition-timing-function : facilité d'entrée / sortie ;}
.member-3W1lQa : survol , .channel-2QD9_O  a : survol { couleur de fond : rgba ( 50 , 50 , 50 , 0.6 ) ! important ; marge gauche : 15 px }
.popout-open.member-3W1lQa { background-color : rgba ( 100 , 100 , 100 , 0.6 ) ! important ; marge gauche : 15 px }

/ * Entrées * /
.lookFilled-1Gx00P , .valueChecked-m-4IJZ , .BD-pfbtn , .checked , .bda-settings-bouton , .addButton-pcyyf6 , .tabBar-1E2ExX  .primary-3j8BhM , .da sélectionné [ le style * = " rgb (114, 137, 218) " ] { background-color : red ! important ;}
.barFill-23-gu- , .itemSelected-1qLhcL.da-role { background-color : red }
.inputDefault-_djjkz : focus , .focused-1mmYsC { border-color : red ! important }
.questionMark-CWEQZn { background-color : red ! important ; marge en bas : 4 px }

.item-26Dhrx  .checkboxWrapper-SkhIWG  .checked-3_4uQ9 { couleur de fond : blanc ! important ; border-color : transparent ! important ;}

.search-bar , .searchBar-2_Yu-C { couleur d'arrière-plan : rgba ( 50 , 50 , 50 , 0.6 ) ! important ;}

.item-26Dhrx [ le style * = " rgb (114, 137, 218) " ] { background-color : rouge important! ; couleur de bordure : rouge ! important ;}
.checked-3_4uQ9 { border-color : transparent ! important ;}
polyligne [ stroke = ' # 7289da ' ] { stroke : red }
.item-26Dhrx [ style * = " rgb (114, 137, 218) " ] étiquette  .checkbox-1ix_J3 { background-color : white ! important ; border-color : transparent ! important ;}
.checkbox-1ix_J3 { background-color : transparent ! important ; bordure : solide 2 px  ; border-color : rgba ( 50 , 50 , 50 , 0.5 ) ! important ;}

.wrapper-3jrx9n { border-color : red ! important ;}
.option-n0icdO : survol { couleur de fond : rgba ( 150 , 0 , 0 , 0.8 );}
.selected-mKYnfr { background-color : red ! important ;}
.da-disabled { background-color : transparent ! important ;}

/ * Paramètres * /
.sidebar-CFHs9e  .side-8zPYf6  .item-PXvHYJ , .ui-tab-bar-item { hauteur-ligne : 15 px ! important ; couleur de fond : rgba ( 150 , 150 , 150 , 0,07 ); largeur : 100 % ; transition : largeur 0,2 s ; transition-timing-function : facilité d'entrée / sortie ;}
.sidebar-CFHs9e  .side-8zPYf6  .item-PXvHYJ : survol , .ui-tab-bar-item : survol { couleur de fond : rgba ( 150 , 150 , 150 , 0,2 ) ! important ; largeur : 187 px ;}
.sidebar-CFHs9e  .side-8zPYf6  .selected-3s45Ha , .ui-tab-bar-item.selected { hauteur-ligne : 15 px ! important ; couleur de fond : rgba ( 150 , 150 , 150 , 0.4 ) ! important ; largeur : 187 px ;}
.sidebar-CFHs9e  .side-8zPYf6  .header-2RyJ0Y , .ui-tab-bar-entête { background-color : rgba ( 150 , 0 , 0 , 0,5 ); rayon de bordure : 3 px ; hauteur de ligne : 28 px ! important ; Rembourrage : 0  0  0  10 px ! important }
.ui-tab-bar-item { margin-bottom : 2 px ! important }

.sidebar-CFHs9e { remplissage : 20 px  18 px  20 px  23 px ; largeur : 210 px }
.sidebarRegion-VFTUkN { flex : 0 }
.contentColumn-2hrIYH { max-width : 90 % ; Rembourrage : 60 px  30 px  80 px }

.codeRedemptionRedirect-1wVR4b { background-color : rgba ( 150 , 150 , 150 , 0.1 ) ! important ;}

.game-1ipmAa : avant , .emojiRow-zIc7ZX : avant , .member-1q7VfX : avant , .inviteSettingsInviteRow-3p2O-N : avant , .guild-settings-utilisateur interdits : avant , .bannedUser-1IalTM : avant { background- couleur : rgba ( 50 , 50 , 50 , 0.5 ) ! important }
.searchBar-1MOL6S { background-color : rgba ( 50 , 50 , 50 , 0.5 ) ! important }

.video-34IsHk { largeur : 660 px ; marge : auto ; marge inférieure : 15 px }
.section-2YzZxo   { width : 660 px ; marge : auto }
.sectionTier1-2w9cqh { width : 660 px ; marge : auto ; marge supérieure : 15 px }

.content-1rPSz4 { padding-top : 20 px ! important ;}

un [ target = " _blank " ] { color : red ;}

.foreground-2aE44H { trait : rouge ;}
.previewOverlay-2O7_KC , .formNotice-2_hHWR { background-color : rgba ( 50 , 50 , 50 , 0.5 ) ! important }
.media-engine-video { background : transparent ! important ;}
.avatarUploaderInner-3UNxY3 { background-color : red ! important ;}

	/ * CustomCSS * /
	.ace_editor { background-color : rgba ( 0 , 0 , 0 , 0.2 ) ! important }
	.ace_gutter , # bd-customcss-attach-controls { couleur de fond : rgba ( 0 , 0 , 0 , 0.5 ) ! important }

	.ace_active-line { background-color : rgba ( 100 , 0 , 0 , 0.4 ) ! important }
	.ace_gutter-active-line { background-color : rgba ( 100 , 0 , 0 , 0.7 ) ! important }

	# bd-customcss-attach-controls { padding-left : 9 px }
	.checkbox-3kaeSU { padding-left : 1 px }
	# bd-customcss-detach-controls-button  bouton { border : 0 ! important ; border-radius : 10 px ! important ; marge droite : 5 px ! important ; transition : 0,1 de fond de couleur facilité in-out }
	# bd-customcss-detach-controls-button  bouton : survoler { background-color : rgb ( 100 , 100 , 100 ) ! important }
	# bd-customcss-detach-controls-button  bouton : actif { background-color : red ! important }

	# bd-customcss-detach-container { couleur de fond : rgba ( 0 , 0 , 0 , 0.7 )}
	#  bouton détaché de l'éditeur { background-color : red ! important }

/ * ChangeLog Et Autres Popups * /
.modal-yWgWj- , .bd-modal-inner , .messagesPopoutWrap-1MQ1bW , .messageGroupWrapper-o-Zw7G , .container-3ayLPN , .searchResultsWrap-2DKFzt , .quickswitcher-3JagVE ,
.react-datepicker , .popoutList-T9CKZQ , .bd-modal-body , .root-1gCeng { couleur de fond : rgba ( 25 , 25 , 25 , 0.5 ) ! important ; border-radius : 10 px ! important ;}
.footer-3rDWdC , .footer-3mqk7D   { couleur d'arrière-plan : rgba ( 0 , 0 , 0 , 0.5 ) ! important ; border-radius : 0  0  10 px  10 px ;}
.header-1R_AjF , .react-datepicker__header { background-color : transparent ! important ;}

.input-2VB9rf { background-color : rgba ( 50 , 50 , 50 , 0.5 ) ! important }

.bodyTitle-Y0qMQz { background-color : rgba ( 0 , 0 , 0 , 0.5 ); rembourrage : 3 px ; text-align : center ; rayon de bordure : 10 px ; couleur : blanc ;}

.body-3iLsc4 , .footer-1fjuF6 { background-color : rgba ( 30 , 30 , 30 , 0.5 ) ! important }
.userPopout-3XzG_A { rayon-rayon : 10 px }

	/ * Popup utilisateur * /
	.headerNormal-T_seeN , .topSectionNormal-2-vo2m , .body-3ND3kc , .quickMessage-2XpSaN { couleur de fond : rgba ( 30 , 30 , 30 , 0.5 ) ! important }
	.headerPlaying-j0WQBV , .topSectionPlaying-1J5E4n { couleur de fond : rgba ( 114 , 137 , 218 , 0.5 );}
	.headerSpotify-zpWxgT , .topSectionSpotify-1lI0-P { couleur de fond : rgba ( 29 , 185 , 84 , 0.5 )}
	.headerStreaming-2FjmGz , .topSectionStreaming-1Tpf5X { couleur de fond : rgba ( 89 , 54 , 149 , 0.5 )}

	.activityName-1IaRLn { color : white ! important ;}
	
	/ * Upload Popup * /
	.uploadModal-2ifh8j , .bgScale-1otPtc { background-color : rgba ( 50 , 50 , 50 , 0.5 ) ! important }
	.inner-3nWsbo { border-color : transparent ! important ;}
	bouton .lookFilled-1Gx00P [ type = submit ] { couleur : blanc ! important ;}
	.uploadModal-2ifh8j  .footer-3mqk7D  .button { hauteur : 39 px ; marge droite : 5 px ; couleur de fond : rgba ( 100 , 100 , 100 , 0.5 )}
	.inner-zqa7da { background-color : rgba ( 100 , 100 , 100 , 0.5 ) ! important }
	.image-2yrs5j { border-color : red ! important ;}

	.instructions-2Du9gG  pre { background-color : transparent ! important ;}
	.uploadDropModal-2kTwbc.error-kKl9o2 { background-color : rgba ( 240 , 71 , 71 , 0.5 ) ! important ;}

	/ * Recherche Popup * /
	.searchHeader-1l-wpR , .header-ykumBX { couleur d'arrière-plan : rgba ( 50 , 50 , 50 , 0,5 ) ! important ; border-radius : 10 px  10 px  0  0 ! important ;}
	.option-96V44q.selected-rZcOL- , .message-2qRu38 , .dockItem-2kQDqg : survol , .card-7JP0BX , .hit-NLlWXA { couleur d'arrière-plan : rgba ( 100 , 100 , 100 , 0,5 ) ! important ; border-radius : 10 px ;}
	.channelName-1QajIf { background-color : transparent ! important ;}
	.searchResult-3pzFAB { frontière : 2 px  solide  rgb ( 40 , 40 , 40 ); rayon de bordure : 10 px ; couleur de fond : rgba ( 50 , 50 , 50 , 0.5 )}
	.searchResult-3pzFAB : avant { border-radius : 10 px ;}
	.option-96V44q : after { background-image : none ! important ;}

	.react-datepicker__day : hover { background-color : red ! important }
	.react-datepicker__day - désactivé , .react-datepicker__day - en dehors du mois { background-color : rgba ( 10 , 10 , 10 , 0.5 ) ! important }
	.react-datepicker__day - handicapés : hover , .react-datepicker__day - extérieur mois : vol stationnaire { background-color : rgba ( 255 , 0 , 0 , 0,5 ) important! }
	.react-datepicker__day - selected :: after { background-color : red ! important }
	.hintValue-29ny8Z { background-color : red ! important }

	/ * Rejoindre et créer un serveur Popup * /
	.animator-US5i9g  .modal-3HD5ck { background-color : transparent ! important }
	.animator-US5i9g { border-radius : 10 px ; couleur de fond : rgba ( 25 , 25 , 25 , 0.5 ) ! important }
	.action-1lSjCi { background-color : white ! important ;}

	.animator-US5i9g  entrée : focus { border-color : # 43b581 ! important ;}
	.sampleLink-KPFu3I { color : # 43b581 ! important ;}

	input [ placeholder = " Entrez un nom de serveur " ] : focus { border-color : rgb ( 114 , 137 , 218 ) ! important ;}
	a [ href = " //discordapp.com/guidelines " ] { color : rgb ( 114 , 137 , 218 ) ! important ;}

	/ * Emoji Picker Popup * /
	.emojiPicker-3m1S-j , # bda-qem , # bda-qem-twitch-container , # bda-qem-favourite-container { background-color : rgba ( 0 , 0 , 0 , 0.5 ) ! important ; bordure : 0 ;}
	.header-1nkwgG { background-color : rgba ( 0 , 0 , 0 , 0.5 ) ! important ;}
	.searchBarInner-1_Tg2R { background-color : rgba ( 50 , 50 , 50 , 0.5 ) ! important }
	.header-1nkwgG  .searchBar-2_Yu-C { couleur de fond : transparent ! important ;}
	.header-1nkwgG  .searchBarInner-1_Tg2R  entrée { couleur : blanc ! important ;}
	:: - webkit-input-placeholder { color : rgba ( 255 , 255 , 255 , 0.5 ) ! important ;}
	.stickyHeader-1SS0JU { background-color : rgba ( 0 , 0 , 0 , 0.5 ) ! important ; border-radius : 0  0  10 px  10 px }
	.categories-1feg4n  .selected-39BZ4S { border-color : red ! important }
	.emojiPicker-3m1S-j  :: - webkit-scrollbar- track { couleur de fond : transparent ! important ;}

	#  bouton bda-qem { couleur : blanc ; box-shadow : 0  0  0  0 ! important ; frontière : 0 ! important ;}
	# BDA-QEM  bouton : hover { background-color : rgba ( 100 , 100 , 100 , 0,5 ) important! ;}
	# BDA-QEM  bouton .active { background-color : rgba ( 150 , 150 , 150 , 0,5 ) important! ;}

	/ * BBD ContentErrors et autres modaux BBD * /
	.error-link { color : red ;}
	.bd-modal-inner  button { couleur de fond : rouge ! important }

/ * TopBar * /
.typeWindows-1za-n7 , .notice-2FJMB4 { couleur d'arrière-plan : rgba ( 0 , 0 , 0 , 0,7 ); bord inférieur : rgb solide de 2 px  ( 100 , 0 , 0 ); hauteur : 30 px } 
.typeWindows-1za-n7 : après {
	contenu : " GGO Kirito v1.1.3 Par VaporousCreeper " ;
	couleur : rgb ( 255 , 255 , 255 , 0.6 );
	poids de la police : 500 ;

	position : absolue ;
	en haut : 8 px ;
	à gauche : 43,2 % ;
}

.wordmark-2iDDfm { top : 3,3 px ;}
.winButton-iRh8-Z { top : 1 px ;}

/ * Connexion principale * /
.splashBackground-1FRCko  .image-2jyRAK , .splashBackground-1FRCko  canvas { display : none ;}
.splashBackground-1FRCko { background-image : none ;}

.authBox-hW6HRx { background-color : rgba ( 25 , 25 , 25 , 0.7 ) ! important ; border-radius : 10 px ! important ;}
.leftSplit-1qOwnR { width : 80 % ;}

.container-16j22k {
	rembourrage en haut : 30 px ! important ;
	en haut : -30 px ! important ;

	image d’arrière-plan : var ( --background );
	position de fond : centre ;
	taille du fond : couverture ;
}

/ * Autre * /
.selected-1HYmZZ  a { couleur de fond : rgba ( 150 , 150 , 150 , 0,4 ) ! important ; marge gauche : 15 px }